.in {
    background-image: url("img/bg1.png");
    opacity: 1.0;
    background-repeat: no-repeat;
    background-size: cover;
}

.in1 {
    padding: 30px 20px 30px;
} 

.bg-light-blue {
    background-color: #152439;
    opacity: 0.90;
}
.space {
    height:35px;
    background-color:black;
}

.sh {
    background-image: url("img/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.sh1 {
    padding: 20px 10px 20px 0px;
}

.sh2 {
    padding: 0px 0px 20px 0px;
}

.fu {
    margin: 0px 50px 10px 5px;
}

.card {
    height: 100%;
}


.b {
  background-image: linear-gradient(to bottom right, #152439, #F5DDDD);
}

.fu {
    background-color: white; border-color: #2F5284; border-style: dashed;
}

.cinzel {
    font-family: Cinzel;
}

.AnekTelugu {
    font-family: Anek+Telugu;
}

.white {
    color:white;
    font-family: Anek+Telugu;
}

.yellow {
    color: #ECA400;
}

.taupegray {
    color: #88AB75;
}

.green {
    color: #BBD686;
}

.lavender {
    color: #EEEEFF;
}

.viridian green {
    color: #119DA4;
}

/*@media (min-width: 576px) {*/
/*    .sm {*/
/*    flex: 0 0 auto;*/
/*    width: 8.33333333%;*/
        /* fix cards in smaller screen*/
/*    }*/
/*}*/

/*a:link - a normal, unvisited link*/
/*a:visited - a link the user has visited*/
/*a:hover - a link when the user mouses over it*/
/*a:active - a link the moment it is clicked*/

/*links*/

a:link {
    color: #AD915E;
    text-decoration: none;
}

a:visted {
    color: green;
    text-decoration: none;
}

a:hover {
    color: #E084D4;
    text-decoration: underline;
}

h1 {
    font-size: 30px;
}

/*background-color: #EEEEFF;*/