.in {
    background-image: url("img/bg1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.in1 {
    padding: 30px 20px 30px;
} /* for introduction*/

.space {
    height:35px;
    background-color:black;
}

.sh {
    background-image: url("img/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.sh1 {
    padding: 20px 0px 20px 0px;
}

.sh2 {
    padding: 0px 0px 20px 0px;
}

.fu {
    margin: 0px 50px 10px 5px;
}

.card {
    height: 100%;
}

.b {
    background-color: #050B35;
}
.cinzel {
    font-family: Cinzel;
}

.AnekTelugu {
    font-family: Anek+Telugu;
}

.white {
    color:white;
    font-family: Anek+Telugu;
}

.yellow {
    color: #ECA400;
}

/*@media (min-width: 576px) {*/
/*    .sm {*/
/*    flex: 0 0 auto;*/
/*    width: 8.33333333%;*/
        /* fix cards in smaller screen*/
/*    }*/
/*}*/

@media (min-width: 1550px) {
    .len {
        width:1262;
        height:954.398;
}
